# requirements.txt

# Framework de base (exige Pydantic V2)
llama-index>=0.12.0
llama-index-core>=0.12.0
llama-index-llms-ibm>=0.2.0
llama-index-embeddings-ibm>=0.2.0
llama-index-readers-web>=0.2.2
llama-index-vector-stores-pinecone>=0.2.0

# Base vectorielle (version compatible Pydantic V2)
chromadb>=0.5.0

# Pydantic 
pydantic>=2.7.0

#  Autres utilitaires 
pypdf>=4.0.0
python-dotenv>=1.0.0
requests>=2.32.0

# Outils de développement
pytest>=8.0.0
black>=24.0.0
flake8>=7.0.0