# requirements.txt

# Framework de base (exige Pydantic V2)
langchain>=1.0.0
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0

# Base vectorielle (version compatible Pydantic V2)
chromadb>=0.5.0

# Pydantic (la V2, pour satisfaire tout le monde)
pydantic>=2.7.0



# Le reste
pypdf
sentence-transformers
langchain-huggingface
python-dotenv